@import "variables";

.container {
  height: 100vh;
  margin: auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-flex {
  display: flex;
}

.content-block {
  height: 100vh;
}
