@import "variables";

.container {
  max-width: 1368px;
  height: 100vh;
  margin: auto;
}

.align {
  display: flex;
  align-items: center;
}

.content-block {
  color: $secondary-color;
  margin: 20px;
  height: 100vh;
  transition: width 1s;
}

.d-flex {
  display: flex;
}
