@import "variables";

.dish {
  min-width: 80%;
  image-rendering: -webkit-optimize-contrast;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.dish__form {
  display: flex;
}
