@import "variables";
.form__item {
  margin: 20px 0px;
}
.form__body {
  padding: 20px 50px;
  border-radius: 20px;
  min-width: 35%;
  background-color: #fff;
  margin: 40px;
}
.form__subtitle {
  margin-bottom: 20px;
  color: gray;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.label__container {
  padding: 5px 0;
}
.form__button {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border: none;
  border: 1px solid $primary-color;
}
.form__input,
.form__select {
  width: 100%;
  border: none;
  transition: 0.5s;
}
.form__separator {
  height: 5px;
  background-color: $primary-color;
  border: none;
  margin: 0px 0px 20px 0px;
}
.form__button {
  background-color: $primary-color;
  cursor: pointer;
  color: $secondary-color;
  transition: 0.5s;
}

.form__button:hover {
  background-color: $secondary-color;
  color: $primary-color;
  transition: 0.5s;
}
.form__input:focus,
.form__select:focus {
  border: 1px solid $primary-color;
}

.form__input::placeholder,
.form__select::placeholder {
  color: $form-color;
}
